/* line 22, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 27, ../scss/style.scss */
a {
  text-decoration: none;
  color: #000000;
  opacity: 0.9;
}
/* line 32, ../scss/style.scss */
a:hover {
  opacity: 1;
}

/* line 37, ../scss/style.scss */
li {
  text-decoration: none;
  list-style: none;
}

/* line 42, ../scss/style.scss */
body {
  font-family: Ubuntu, sans-serif;
}

/* line 46, ../scss/style.scss */
.colored_text {
  color: #F46B47;
}

/* line 50, ../scss/style.scss */
.face {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 57, ../scss/style.scss */
header {
  width: 100%;
  color: #000000;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  z-index: 3;
}

/* line 66, ../scss/style.scss */
.header__logo {
  margin: 25px 0 25px 9%;
  font-size: 22px;
}

/* line 71, ../scss/style.scss */
.topnav {
  height: 100%;
  width: auto;
  margin: 28px 9% 0 0;
}
/* line 76, ../scss/style.scss */
.topnav li {
  display: inline-block;
  margin: 3px 14px;
  text-transform: uppercase;
}
/* line 81, ../scss/style.scss */
.topnav li:hover {
  border-bottom: 2px solid #F46B47;
}

/* line 87, ../scss/style.scss */
.icon {
  display: none;
}

/* line 91, ../scss/style.scss */
.slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 100, ../scss/style.scss */
.slider-navigation {
  position: absolute;
  left: 10%;
  height: 100%;
  font-size: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 110, ../scss/style.scss */
.slider-navigation a {
  margin: auto;
  color: #F46B47;
}
/* line 115, ../scss/style.scss */
.slider-navigation.next {
  left: auto;
  right: 10%;
}

/* line 121, ../scss/style.scss */
.slides {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
/* line 132, ../scss/style.scss */
.slides .img {
  object-fit: cover;
  overflow: hidden;
  height: auto;
}

/* line 157, ../scss/style.scss */
.disabled {
  pointer-events: none;
}

/* line 183, ../scss/style.scss */
.middle-face {
  position: relative;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  z-index: 1;
}

/* line 193, ../scss/style.scss */
.middle-message {
  display: flex;
  flex-direction: column;
}

/* line 205, ../scss/style.scss */
.message-top {
  width: auto;
  font-size: 26px;
  text-align: center;
  padding: 5px 20px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 214, ../scss/style.scss */
.message-bot {
  width: auto;
  font-size: 26px;
  text-align: center;
  padding: 5px 20px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 223, ../scss/style.scss */
.footer-face {
  width: 100%;
  color: #FFFFFF;
  background-color: #F46B47;
  text-align: center;
  z-index: 1;
}
/* line 230, ../scss/style.scss */
.footer-face p {
  margin: 20px auto;
}

/* line 235, ../scss/style.scss */
.footer-face p {
  margin: 20px auto;
}
/* line 238, ../scss/style.scss */
.footer-face p a {
  color: #FFFFFF;
  text-decoration: underline;
  text-transform: uppercase;
}

/* line 245, ../scss/style.scss */
.uibrush {
  width: 100%;
  color: #A3A3A3;
  padding: 56px 0 0 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}
/* line 255, ../scss/style.scss */
.uibrush h1 {
  font-size: 26px;
  font-weight: normal;
  color: #000000;
  margin: 0 auto;
  border-bottom: 2px solid #F46B47;
}
/* line 263, ../scss/style.scss */
.uibrush .description {
  font-size: 16px;
  margin: 40px 10% 0 10%;
  text-align: center;
}

/* line 270, ../scss/style.scss */
.advantages {
  margin: 60px 10% 0 10%;
  display: flex;
  justify-content: space-between;
}

/* line 276, ../scss/style.scss */
.advantage-card {
  text-align: center;
  margin: 0 40px;
}

/* line 281, ../scss/style.scss */
.advantage-icon {
  color: #F46B47;
  font-size: 30px;
  margin: 20px auto;
}

/* line 287, ../scss/style.scss */
.advantage-name {
  color: #000000;
  font-size: 20px;
}

/* line 292, ../scss/style.scss */
.advantage-text {
  font-size: 12px;
  margin-top: 20px;
}

/* line 297, ../scss/style.scss */
.recent_projects {
  width: 100%;
  color: #A3A3A3;
  padding: 56px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* line 304, ../scss/style.scss */
.recent_projects h1 {
  font-size: 26px;
  font-weight: normal;
  color: #000000;
  margin: 0 auto;
  border-bottom: 2px solid #F46B47;
}
/* line 311, ../scss/style.scss */
.recent_projects .description {
  font-size: 16px;
  margin: 40px 10% 0 10%;
  text-align: center;
}

/* line 318, ../scss/style.scss */
.projects {
  margin: 60px 10% 0 10%;
  display: flex;
  justify-content: space-between;
}

/* line 324, ../scss/style.scss */
.project-card {
  background-color: #F0F0F0;
  border: 1px solid #E0E0E0;
  margin: 5px 20px;
}

/* line 330, ../scss/style.scss */
.project-icon img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* line 336, ../scss/style.scss */
.project-name {
  color: #F46B47;
  text-align: right;
  font-size: 16px;
  margin: 7px 5px 0 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #E0E0E0;
}

/* line 345, ../scss/style.scss */
.project-text {
  color: #5D5D5D;
  text-align: right;
  margin: 7px;
  font-size: 12px;
}

/* line 352, ../scss/style.scss */
.talk {
  width: 100%;
  color: #FFFFFF;
  background-color: #7A7A7A;
  margin-top: 105px;
  padding: 90px 0 125px 0;
  text-align: center;
}
/* line 359, ../scss/style.scss */
.talk h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
/* line 363, ../scss/style.scss */
.talk p {
  font-size: 16px;
  margin: 20px 16% 0 16%;
}

/* line 369, ../scss/style.scss */
.contact {
  width: 100%;
  color: #A3A3A3;
  padding: 56px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* line 376, ../scss/style.scss */
.contact h1 {
  font-size: 26px;
  color: #000000;
  margin: 0 auto;
  border-bottom: 2px solid #F46B47;
}
/* line 382, ../scss/style.scss */
.contact .description {
  font-size: 16px;
  margin: 40px 10% 0 10%;
  text-align: center;
}

/* line 389, ../scss/style.scss */
.contact_details {
  margin: 60px 10% 0 10%;
  display: flex;
  justify-content: center;
}

/* line 395, ../scss/style.scss */
.map {
  height: 100%;
  width: auto;
  padding-right: 10px;
}
/* line 399, ../scss/style.scss */
.map img {
  width: 100%;
  height: auto;
}

/* line 405, ../scss/style.scss */
.sending_form {
  padding-left: 10px;
}
/* line 407, ../scss/style.scss */
.sending_form p {
  color: #000000;
  font-size: 20px;
}

/* line 413, ../scss/style.scss */
.message_field {
  height: 100%;
  padding-left: 30px;
}

/* line 418, ../scss/style.scss */
.address_item {
  margin: 15px 0;
  display: flex;
}

/* line 423, ../scss/style.scss */
.cd_icon {
  width: 40px;
  margin-right: 10px;
  font-size: 20px;
  color: #F46B47;
}

/* line 430, ../scss/style.scss */
.email_form {
  height: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 435, ../scss/style.scss */
.email_form input, .email_form textarea {
  border: 1px solid #C9C9C9;
  border-radius: 1px;
  background-color: #F0F0F0;
  padding: 16px 16px;
  color: #A3A3A3;
  font-family: Ubuntu, sans-serif;
  margin: 4px 0;
}

/* line 446, ../scss/style.scss */
.mail_name input {
  width: 250px;
}

/* line 450, ../scss/style.scss */
.mail_message textarea {
  width: 400px;
}

/* line 454, ../scss/style.scss */
.button {
  margin: 10px 0;
}
/* line 456, ../scss/style.scss */
.button button {
  border: 1px solid #F46B47;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: #F46B47;
  opacity: 0.9;
}
/* line 464, ../scss/style.scss */
.button button:hover {
  opacity: 1;
  cursor: pointer;
}

/* line 471, ../scss/style.scss */
footer {
  width: 100%;
  background-color: #F46B47;
  text-align: center;
  color: #FFFFFF;
  font-family: Myriad Pro, sans-serif;
  font-size: 14pt;
  padding: 20px 0;
  margin: 220px 0 70px 0;
}

@media screen and (max-width: 768px) {
  /* line 483, ../scss/style.scss */
  .topnav {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    margin: auto;
    z-index: 2;
    background-color: #FFFFFF;
    transition: height 1s;
  }
  /* line 494, ../scss/style.scss */
  .topnav li {
    width: 70%;
    display: none;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
  }
  /* line 501, ../scss/style.scss */
  .topnav li:hover {
    border: none;
    background-color: #F46B47;
  }

  /* line 508, ../scss/style.scss */
  .icon {
    display: block;
    position: absolute;
    margin-top: 30px;
    right: 9%;
  }

  /* line 516, ../scss/style.scss */
  .topnav.open li {
    display: block;
  }

  /* line 521, ../scss/style.scss */
  nav {
    width: 100%;
  }

  /* line 525, ../scss/style.scss */
  .middle-face {
    padding: 25% 0;
  }
}
@media screen and (max-width: 950px) {
  /* line 531, ../scss/style.scss */
  .advantages {
    flex-wrap: wrap;
  }

  /* line 535, ../scss/style.scss */
  .advantage-card {
    margin: 0 auto;
    max-width: 40%;
  }

  /* line 540, ../scss/style.scss */
  .projects {
    flex-wrap: wrap;
  }

  /* line 544, ../scss/style.scss */
  .project-card {
    margin: 5px auto;
  }

  /* line 548, ../scss/style.scss */
  .contact_details {
    flex-wrap: wrap;
  }

  /* line 552, ../scss/style.scss */
  .map {
    width: 100%;
  }

  /* line 556, ../scss/style.scss */
  .message_field, .sending_form {
    padding-left: 0;
  }

  /* line 560, ../scss/style.scss */
  .message_field {
    width: 95%;
  }

  /* line 564, ../scss/style.scss */
  .sending_form {
    width: 100%;
    margin-top: 20px;
  }

  /* line 569, ../scss/style.scss */
  .mail_message textarea, .mail_name input {
    width: 95%;
  }

  /* line 573, ../scss/style.scss */
  .button {
    margin: 10px auto;
  }
  /* line 576, ../scss/style.scss */
  .button button {
    padding: 10px 70px;
  }
}
@media screen and (max-width: 515px) {
  /* line 583, ../scss/style.scss */
  .advantage-card {
    max-width: 100%;
  }
}
