$jaffa_color: #F46B47;
$white_color: #FFFFFF;
$black_color: #000000;
$silver_chalice_color: #A3A3A3;
$silver_color: #C9C9C9;
$alto_color: #E0E0E0;
$gallery_color: #F0F0F0;
$boulder_color: #7A7A7A;
$scorpion_color: #5D5D5D;

$theme_color: $jaffa_color;
$main_text_color: $black_color;
$background_color: $white_color;
$description_text_color: $silver_chalice_color;
$second_background_color: $boulder_color;
$border_color: $alto_color;
$box_text_color: $scorpion_color;
$form_background_color: $gallery_color;
$form_border_color: $silver_color;
$form_text_color: $silver_chalice_color;

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $main_text_color;
    opacity: 0.9;

    &:hover {
        opacity: 1;
    }
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Ubuntu, sans-serif;
}

.colored_text {
    color: $theme_color;
}

.face {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    color: $main_text_color;
    display: flex;
    justify-content: space-between;
    background-color: $background_color;
    z-index: 3;
}

.header__logo {
    margin: 25px 0 25px 9%;
    font-size: 22px;
}

.topnav {
    height: 100%;
    width: auto;
    margin: 28px 9% 0 0;

    li {
        display: inline-block;
        margin: 3px 14px;
        text-transform: uppercase;

        &:hover {
            border-bottom: 2px solid $theme_color;
        }
    }
}

.icon {
    display: none;
}

.slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider-navigation {
    position: absolute;
    left: 10%;
    height: 100%;
    font-size: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
        margin: auto;
        color: $theme_color;
    }

    &.next {
        left: auto;
        right: 10%;
    }
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
    //width: auto;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    //width: 100%;
    //overflow: hidden;

    .img {
        //flex-basis: 100%;
        object-fit: cover;
        overflow: hidden;
        //width: 1838px;
        height: auto;
    }
}

//.img:nth-child(1){
//    left: 0;
//}
//.img:nth-child(2){
//    left: 100%;
//}
//.img:nth-child(3){
//    left: 200%;
//}
//.img:nth-child(4){
//    left: 300%;
//}
//.img:nth-child(5){
//    left: 400%;
//}

.disabled {
    pointer-events: none;
}

//.middle-bg {
//    position: absolute;
//    left: 0;
//    top: 80px;
//    height: 100%;
//    width: 100%;
//    z-index: -1;
//    overflow: hidden;
//    .img {
//        position: absolute;
//        left: 0;
//        top: 0;
//        min-width: 100%;
//        min-height: 100%;
//        object-fit: cover;
//        display: none;
//        &.curr {
//            display: block;
//        }
//    }
//}

.middle-face {
    position: relative;
    color: $background_color;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    z-index: 1;
}

.middle-message {
    display: flex;
    flex-direction: column;
}

//.middle-side {
//    font-size: 50px;
//    a {
//        color: $theme_color;
//    }
//}

.message-top {
    width: auto;
    font-size: 26px;
    text-align: center;
    padding: 5px 20px;
    margin: 5px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.message-bot {
    width: auto;
    font-size: 26px;
    text-align: center;
    padding: 5px 20px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-face {
    width: 100%;
    color: $background_color;
    background-color: $theme_color;
    text-align: center;
    z-index: 1;

    p {
        margin: 20px auto;
    }
}

.footer-face p {
    margin: 20px auto;

    a {
        color: $background_color;
        text-decoration: underline;
        text-transform: uppercase;
    }
}

.uibrush {
    width: 100%;
    color: $description_text_color;
    padding: 56px 0 0 0;
    background-color: $background_color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;

    h1 {
        font-size: 26px;
        font-weight: normal;
        color: $main_text_color;
        margin: 0 auto;
        border-bottom: 2px solid $theme_color;
    }

    .description {
        font-size: 16px;
        margin: 40px 10% 0 10%;
        text-align: center;
    }
}

.advantages {
    margin: 60px 10% 0 10%;
    display: flex;
    justify-content: space-between;
}

.advantage-card {
    text-align: center;
    margin: 0 40px;
}

.advantage-icon {
    color: $theme_color;
    font-size: 30px;
    margin: 20px auto;
}

.advantage-name {
    color: $main_text_color;
    font-size: 20px;
}

.advantage-text {
    font-size: 12px;
    margin-top: 20px;
}

.recent_projects {
    width: 100%;
    color: $description_text_color;
    padding: 56px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
        font-size: 26px;
        font-weight: normal;
        color: $main_text_color;
        margin: 0 auto;
        border-bottom: 2px solid $theme_color;
    }
    .description {
        font-size: 16px;
        margin: 40px 10% 0 10%;
        text-align: center;
    }
}

.projects {
    margin: 60px 10% 0 10%;
    display: flex;
    justify-content: space-between;
}

.project-card {
    background-color: $form_background_color;
    border: 1px solid $border_color;
    margin: 5px 20px;
}

.project-icon img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.project-name {
    color: $theme_color;
    text-align: right;
    font-size: 16px;
    margin: 7px 5px 0 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $border_color;
}

.project-text {
    color: $box_text_color;
    text-align: right;
    margin: 7px;
    font-size: 12px;
}

.talk {
    width: 100%;
    color: $background_color;
    background-color: $second_background_color;
    margin-top: 105px;
    padding: 90px 0 125px 0;
    text-align: center;
    h1 {
        font-size: 60px;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        margin: 20px 16% 0 16%;
    }
}

.contact {
    width: 100%;
    color: $description_text_color;
    padding: 56px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
        font-size: 26px;
        color: $main_text_color;
        margin: 0 auto;
        border-bottom: 2px solid $theme_color;
    }
    .description {
        font-size: 16px;
        margin: 40px 10% 0 10%;
        text-align: center;
    }
}

.contact_details {
    margin: 60px 10% 0 10%;
    display: flex;
    justify-content: center;
}

.map {
    height: 100%;
    width: auto;
    padding-right: 10px;
    img {
        width: 100%;
        height: auto;
    }
}

.sending_form {
    padding-left: 10px;
    p {
        color: $main_text_color;
        font-size: 20px;
    }
}

.message_field {
    height: 100%;
    padding-left: 30px;
}

.address_item {
    margin: 15px 0;
    display: flex;
}

.cd_icon {
    width: 40px;
    margin-right: 10px;
    font-size: 20px;
    color: $theme_color;
}

.email_form {
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input, textarea {
        border: 1px solid $form_border_color;
        border-radius: 1px;
        background-color: $form_background_color;
        padding: 16px 16px;
        color: $form_text_color;
        font-family: Ubuntu, sans-serif;
        margin: 4px 0;
    }
}

.mail_name input {
    width: 250px;
}

.mail_message textarea {
    width: 400px;
}

.button {
    margin: 10px 0;
    button {
        border: 1px solid $theme_color;
        color: $background_color;
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 4px;
        background-color: $theme_color;
        opacity: 0.9;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

footer {
    width: 100%;
    background-color: $theme_color;
    text-align: center;
    color: $background_color;
    font-family: Myriad Pro, sans-serif;
    font-size: 14pt;
    padding: 20px 0;
    margin: 220px 0 70px 0;
}

@media screen and (max-width: 768px) {
    .topnav {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        margin: auto;
        z-index: 2;
        background-color: $background_color;
        transition: height 1s;

        li {
            width: 70%;
            display: none;
            padding: 10px 0;
            margin: 0 auto;
            text-align: center;

            &:hover {
                border: none;
                background-color: $theme_color;
            }
        }
    }

    .icon {
        display: block;
        position: absolute;
        margin-top: 30px;
        right: 9%;
    }

    .topnav.open {
        li {
            display: block;
        }
    }

    nav {
        width: 100%;
    }

    .middle-face {
        padding: 25% 0;
    }
}

@media screen and (max-width: 950px) {
    .advantages {
        flex-wrap: wrap;
    }

    .advantage-card {
        margin: 0 auto;
        max-width: 40%;
    }

    .projects {
        flex-wrap: wrap;
    }

    .project-card {
        margin: 5px auto;
    }

    .contact_details {
        flex-wrap: wrap;
    }

    .map {
        width: 100%
    }

    .message_field, .sending_form {
        padding-left: 0;
    }

    .message_field {
        width: 95%;
    }

    .sending_form {
        width: 100%;
        margin-top: 20px;
    }

    .mail_message textarea, .mail_name input {
        width: 95%;
    }

    .button {
        margin: 10px auto;

        button {
            padding: 10px 70px;
        }
    }
}

@media screen and (max-width: 515px) {
    .advantage-card {
        max-width: 100%;
    }
}
