*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    overflow: hidden;
    font-family: Ubuntu, sans-serif;
}

.field{
    position: absolute;
    width: 100%;
    height: 50vh;
}
.field:nth-child(2){
    top: 50%;
    width: 100%;
    height: 50vh;
}
.item{
    width: 14.2%;
    height: 25%;
    position: absolute;
}
.item:hover{
    cursor: pointer;
}
.item:first-child{
    top: 0;
    left: 42.8%;
    background-color: black;
}
.item:nth-child(2){
    top: 25%;
    left: 71.4%;
    background-color: red;
}
.item:nth-child(3){
    top: 50%;
    left: 85.7%;
    background-color: yellow;
}
.item:nth-child(4){
    top: 75%;
    left: 57.1%;
    background-color: blue;
}
.item:nth-child(5){
    top: 75%;
    left: 28.5%;
    background-color: green;
}
.item:nth-child(6){
    top: 50%;
    left: 0;
    background-color: purple;
}
.item:nth-child(7){
    top: 25%;
    left: 14.2%;
    background-color: brown;
}

/*----------------------------------------------------------*/

.slider-navigation {
    font-size: 50px;
    z-index: 2;
}

.slider-navigation a {
    color: #F46B47;
}

.slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /*transition: all 1s;*/
    /*overflow: hidden;*/
}

.slider:nth-child(2){
    top: 50vh;
    left: 0;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.slides .img {
    display: inline-block;
    float: left;
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.img:nth-child(1){
    left: 0;
}
.img:nth-child(2){
    left: 100%;
}
.img:nth-child(3){
    left: 200%;
}
.img:nth-child(4){
    left: 300%;
}
.img:nth-child(5){
    left: 400%;
}
/*.img:nth-child(6){*/
    /*left: 500%;*/
/*}*/
/*.img:nth-child(7){*/
    /*left: 600%;*/
/*}*/

.disabled {
    pointer-events: none;
}

/*------------------------------------------------------------*/

footer{
    width: 100%;
    background-color: #F46B47;
    text-align: center;
    color: white;
    font-family: Myriad Pro, sans-serif;
    font-size: 14pt;
    padding: 20px 0;
    margin: 220px 0 70px 0;
}
