*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

ul, ol{
    list-style: none;
}

body{
    background-image: url("../img/back.jpg");
}

/*------------------------------------------------*/

.navigation{
    width: 80%;
    margin: 20px auto;
}

.navigation ul{
    display: flex;
    justify-content: center;
}

.navigation li{
    border-left: 1px solid #FFFFFF;
}

.navigation li:first-child{
    border-left: none;
}

.navigation li a{
    display: block;
    background: #5d5d5d;
    padding: 15px 30px;
    color: #FFFFFF;
    transition: all 200ms;
}

.navigation li a:hover{
    background: #FFFFFF;
    color: #5d5d5d;
}

.navigation .toggle{
    width: 100%;
    background: #7a7a7a;
    padding: 15px 0;
    text-align: right;
    display: none;
}

 .toggle a{
    margin: 15px 30px 15px 0;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .navigation .toggle{
        display: block;
    }
    .navigation{
        width: 100%;
        margin: 0 0 20px 0;
    }
    .navigation ul{
        transition: all 100ms;
        flex-direction: column;
        display: none;
    }
    .navigation ul li{
        text-align: center;
        border-left: none;
        border-bottom: 1px solid #FFFFFF;
    }
    .navigation ul.show{
        display: flex;
    }
}

/*---------------------------------------------*/

.main_content{
    margin: 0 10px;
}
.main_content p{
    margin-bottom: 20px;
}
table{
    margin: 20px 10px;
}
table td, table th{
    padding: 2px 10px;
    border-bottom: 1px solid #000000;
}
table td.number{
    text-align: right;
}

form input, form select{
    margin: 20px 0;
    padding: 5px 10px;
    background-color: #FFFFFF;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
}
input.button:hover{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #5d5d5d;
}

a.button{
    color: #FFFFFF;
    background-color: #000000;
    padding: 15px 30px;
    border-radius: 3px;
    transition: all 100ms;
}
a.button:hover{
    color: #FFFFFF;
    background-color: #5d5d5d;
}
.error{
    color: #FF0000;
}

/*---------------------------------------------*/

.footer{
    width: 100%;
    background-color: #F46B47;
    text-align: center;
    color: #FFFFFF;
    font-family: Myriad Pro, sans-serif;
    font-size: 14pt;
    padding: 20px 0;
    margin-top: 70px;
}
