<?php if (!empty($data)): ?>
    <h1>Task 1</h1>
    <p>Count sum of all actor's fees, who are 40-60 years old.<br>
        Output must contain 2 columns: "Full name of actor" and "Sum of fees"</p>
    <table>
        <thead>
        <tr>
            <th>Actor</th>
            <th>Fee</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($data as $row) : ?>
            <tr>
                <td><?= $row['Actor']; ?></td>
                <td class="number"><?php if($row['Fee']==0) {echo 'n/a';} else {echo $row['Fee'];} ?></td>
<!--                <td class="number">--><?//= $row['Fee']; ?><!--</td>-->
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <p>No data found</p>
<?php endif; ?>