<?php if (empty($data)): ?>
    <p>No data found</p>
<?php else: ?>
    <h1>Task 3</h1>
    <p>Find all actors, who don't have namesakes<br>
        Output must contain 1 column: "Full name of actor"</p>
    <table>
        <thead>
        <tr>
            <th>Actor</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($data as $row) : ?>
            <tr>
                <td><?= $row['Actor']; ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>