<?php if (!empty($data)): ?>
    <h1>Task 2</h1>
    <p>Select studio and show all its actors and their films on this studio.<br>
        Output must contain 3 columns: "Name of studio","Full name of actor" and "Number of films"</p>

    <form action="show_fee_of_actor_by_studio">
        <select name="studio">
            <?php foreach ($data as $row) : ?>
                <option value="<?= $row['StudioName']; ?>"><?= $row['StudioName']; ?></option>
            <?php endforeach; ?>
        </select>
        <input type="submit" class="button" value="Show">
    </form>
<?php else: ?>
    <p>No data found</p>
<?php endif; ?>
