<?php if (!empty($data)): ?>
    <h1>Task 2</h1>
    <p>Select studio and show all its actors and their films on this studio.<br>
        Output must contain 3 columns: "Name of studio","Full name of actor" and "Number of films"</p>
    <table>
        <thead>
        <tr>
            <th>Studio</th>
            <th>Actor</th>
            <th>Number of Films</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($data as $row) : ?>
            <tr>
                <td><?= $row['Studio']; ?></td>
                <td><?= $row['Actor']; ?></td>
                <td class="number"><?= $row['Number of Films']; ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <p>No data found</p>
<?php endif; ?>
    <a href="/fee_of_actor_by_studio" class="button">Back</a>
